<!--The content below is only a placeholder and can be replaced.-->
<!-- begin: 导航条 -->
<app-navbar>

</app-navbar>
<!-- end: 导航条 -->

<!-- begin: content -->
<div class="container">
  <div class="row">
    <!-- begin: 左侧内容 -->
    <div class="col-md-3">
      <app-search>

      </app-search>
    </div>
    <!-- end: 左侧内容 -->
    <!-- begin: 右侧内容 -->
    <div class="col-md-8">
      <div class="row">
        <!--begin：焦点图 -->
        <app-carousel>

        </app-carousel>
        <!--end：焦点图 -->
      </div>
      <div class="row">
        <!--begin：商品信息 -->
        <app-product>

        </app-product>
        <!--begin：end -->
      </div>
    </div>
    <!-- end: 右侧内容 -->
  </div>
</div>
<app-footer>

</app-footer>
<!-- end: content -->
<!-- begin: 底部信息 -->
<app-footer>

</app-footer>
<!-- end: 底部信息 -->

